.titleDataText {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.titleDiv {
  width: 300px;
}

.dataBox {
  padding: 20px;

  margin: 20px;
  border-radius: 30px;
  background: rgb(60, 59, 59);
}

.buttonStyle {
  border: none;
  background: grey;
  color: white;
  height: 40px;
  width: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: normal;

  border-radius: 30px;
  cursor: pointer;
}

.deleteDiv {
  text-align: right;
}

.deleteButton {
  border: none;
  color: white;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: x-large;
  cursor: pointer;
}

.deleteButton-Light {
  color: black;
}

.dataBox-Light {
  background: rgb(199, 196, 196);
}
.titleDataText-Light {
  color: black;
}

.addButton-Light {
  background: rgb(238, 238, 238);
  color: black;
}

@media screen and (min-width: 1200px) {
  .Preview {
    overflow-y: auto;
    height: 900px;
    width: 500px;
  }

  .dataBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .deleteDiv {
    align-self: flex-end;
  }
}

@media screen and (max-width: 360px) {
  .dataBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .deleteDiv {
    align-self: flex-end;
  }
}
